<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>掲示板</title>
    <link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>
</head>
<body>

    <h1>掲示板</h1>

    <form action="#" th:action="@{/add}"  method="post">

        <p>名前:</p><input type="text" name="name" />
        <p>内容</p> <textarea type="text" name="text" /></textarea>
        <p><input type="submit" value="書き込み" /> <input type="reset" value="取り消し" /></p>
    </form>

    <h2>過去の書き込み</h2>
    <table th:each="message: ${messages}">
       <tr>
           <th><string th:text="${message.name}"></string></th>
       </tr>
        <tr>
            <td><p th:text="${message.text}"></p></td>
        </tr>
    </table>

</body>
</html>